/* fonts.css */

/* Roboto Font */
.font-roboto {
	font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Open Sans Font */
  .font-open-sans {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Montserrat Font */
  .font-montserrat {
	font-family: 'Montserrat', sans-serif;
  }
  
  /* Poppins Font */
  .font-poppins {
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  
  /* Lato Font */
  .font-lato {
	font-family:Impact, 'Arial Narrow Bold', sans-serif ;
  }
  
  /* Playfair Display Font */
  .font-playfair-display {
	font-family: 'Playfair Display', serif;
  }
  
  /* Pacifico Font */
  .font-pacifico {
	font-family: 'Pacifico', cursive;
  }
  
  /* Inconsolata Font */
  .font-inconsolata {
	font-family: 'Inconsolata', monospace;
  }
  
  /* Dancing Script Font */
  .font-dancing-script {
	font-family: 'Dancing Script', cursive;
  }
  